body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  font-weight: normal;
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  margin: 0;
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  color: #e5e7eb;
  font-size: 18px;
}

.header a {
  text-decoration: none;
  color: #e5e7eb;
}

.main-body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px;
  margin: 0;
}

.section-one,
.section-two,
.section-three,
.section-four {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0px 10%;
}

.section-one {
  background-color: #1f2937;
  justify-content: space-between;
  color: #e5e7eb;
}

.coffee-pic {
  width: 50%;
  max-width: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.section-two {
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}
.section-two-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.card-deck {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  text-align: center;
  color: #1f2937;
  gap: 30px;
}
.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  font-size: 1.4 rem;
}

.card img {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-radius: 25px;
  border-color: #3882f6;
}

.section-three {
  background-color: #e5e7eb;
  flex-direction: column;
}

.quote {
  font-style: italic;
  font-weight: 50;
  font-size: 36px;
  text-align: center;
}

.wit {
  margin-left: auto;
  margin-right: 10%;
  font-size: 36px;
}
.section-four {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section-four button {
  font-size: 1.6rem;
}

.call {
  background-color: #3882f6;
  color: #f9faf8;
  flex-basis: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px 50px;
  border-radius: 20px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10%;
  margin: 0;
  background-color: #1f2937;
  color: #f9faf8;
}
